{% extends "base.html.twig" %}

{% block title %}Деталі{% endblock %}

{% block body %}
    <h1>{{ book.title }}</h1>
    <p>
        <b>Автори: </b>
        {% for author in book.authors %}
            {{ author.getInitials }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p>
        <b>Жанри: </b>
        {% for genre in book.genres %}
            {{ genre.name }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p>
        <b>Дата виходу: </b>
        {{ book.releaseDate|date("d/m/Y") }}
    </p>
    {% if app.user %}
        <hr>
        {% if book in app.user.savedBooks %}
            <p>Ця книга додана до збереженого. <a href="{{ path('selected') }}">Переглянути...</a></p> 
        {% else %}
            <a href="{{ path('select_book', {id: book.id}) }}"><button>Додати до обраного</button></a>
        {% endif %}
        {% if 'ROLE_ADMIN' in app.user.roles %}
            <a href="{{ path('remove_book', {id: book.id}) }}"><button>Видалити книгу</button></a>
        {% endif %}
    {% endif %}
    <hr>
    <h3>Опис</h3>
    {{ book.description }}
{% endblock %}